html {
	font-size: 10px;
	font-family: placeholder;
	background-color: #00539f
}

body {
	width:600px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 100px 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	font-size:60px;

	margin: 0;
	padding: 20px 0;
	color: #00539f;
	text-shadow: 1px 1px 7px black;
	text-align:center
	;
}

p, li{
	font-size:20px;
	line-height: 2;
	letter-spacing: 1px;
}
 .my-link {
 	font-size: 30px;
	


 }
 .foot {
 	font-size:30px;
 	text-align: center;

 }

 img {
 	display:block;
 	margin: 0 auto;
 }


